<div *ngIf="!watchList || loading">
  <app-loader></app-loader>
</div>

<div *ngIf="watchList" id="watch-list-container" class="d-flex w-100 p-2">
  <div class="w-100 card border-secondary">
    <div class="card-header d-flex align-items-baseline">
      <div class="d-flex flex-row justify-content-start">
        <div class="pr-2">Watch List</div>
        <div class="pl-2">{{watchList['auctionInfo'] ? watchList['auctionInfo'].length : '0'}} Items</div>
        <div class="text-success pl-2">Won {{wonItems}}</div>
        <div class="text-danger pl-2">Expired {{expiredItems}}</div>
        <div class="pl-2">Active {{activeItems}}</div>
      </div>
      <div class="d-flex flex-row ml-auto justify-content-end">
        <!-- Move won items to trade -->
        <div class="pl-1">
          <button type="button" (click)="moveToTrade()"
                  class="btn btn-sm btn-outline-success" [disabled]="wonItems < 1"
                  data-toggle="modal" data-backdrop="static"
                  data-keyboard="false"
                  data-target="#reListingModal"
                  [attr.aria-disabled]="wonItems < 1">
            Move won items to trade&nbsp;
          </button>
        </div>
        <!-- List AND Move -->
        <div class="pl-1" data-toggle="tooltip"
             data-placement="top"
             title="Moves all items to trade and lists them. If they are not in player lists, default price used.">
          <button type="button" (click)="autoList()"
                  class="btn btn-sm btn-outline-primary" [disabled]="wonItems < 1"
                  data-toggle="modal" data-backdrop="static"
                  data-keyboard="false"
                  data-target="#reListingModal"
                  [attr.aria-disabled]="wonItems < 1">
            List all for &nbsp;
          </button>
        </div>
        <!-- Auction Duration -->
        <div class="pl-1">
          <select [(ngModel)]="listDurationForAll" class="form-control form-control-sm">
            <option selected [value]="3600">1 Hour</option>
            <option [value]="10800">3 Hours</option>
            <option [value]="21600">6 Hours</option>
            <option [value]="43200">12 Hours</option>
            <option [value]="86400">1 Day</option>
            <option [value]="259200">3 Days</option>
          </select>
        </div>
        <!-- Remove expired/outbidded items -->
        <div class="pl-1">
          <button type="button" (click)="removeExpiredOutbidded()"
                  class="btn btn-sm btn-outline-danger" [disabled]="removableItems < 1"
                  [attr.aria-disabled]="removableItems < 1">
            Remove Expired/Outbidded&nbsp;
          </button>
        </div>
        <!-- Remove Items option -->
        <div class="pl-1">
          <select [(ngModel)]="removeOptions" class="form-control form-control-sm">
            <option selected [ngValue]="true">Remove expired only</option>
            <option [ngValue]="false">Remove expired and outbidded items</option>
          </select>
        </div>
      </div>
    </div>
    <div id="watch-list-results-card" class="card-body card-list-view" #watchListBody>
      <div *ngIf="watchList['auctionInfo']" class="card-deck">
        <app-player-card *ngFor="let auction of watchList['auctionInfo']" [auctionInfo]="auction"
                         [itemWidth]="getCardWidth()" [listType]="'watchList'" (listUpdated)="onNewWatchList($event)"
                         [player]="getPlayer(auction['itemData']['assetId'])" [listResp]="watchList"
                         class="pb-1"></app-player-card>
      </div>
      <div *ngIf="!watchList['auctionInfo']" class="card-text">Watch List empty</div>
    </div>
  </div>
</div>

<app-status-modal [textareaText]="makeTextareaText()" [pauseEndpoint]="pauseEndpoint"
                  [stopEndpoint]="stopEndpoint" [disableClose]="disableCloseModal"></app-status-modal>
